[rewrite_local]
^https://cn-cbu-gateway\.ninebot\.com/portal/api/user-sign/v(1|2)/sign url script-request-body https://raw.githubusercontent.com/fishyo/someLoonThings/refs/heads/refactor/cross-platform-scripts/script/9bot/9bot_cookie.js

[task_local]
0 8 * * * https://raw.githubusercontent.com/fishyo/someLoonThings/refs/heads/refactor/cross-platform-scripts/script/9bot/9botsign.js, tag=九号出行签到, enabled=true

[mitm]
hostname = cn-cbu-gateway.ninebot.com
