[task_local]
0 9 * * * https://raw.githubusercontent.com/fishyo/someLoonThings/main/script/bandwagon/bwg.js, tag=Bandwagon 状态, enabled=true
5 9 * * * https://raw.githubusercontent.com/fishyo/someLoonThings/main/script/racknerd/racknerd.js, tag=RackNerd 状态, enabled=true
