[task_local]
0 9 * * * https://raw.githubusercontent.com/fishyo/someLoonThings/refs/heads/refactor/cross-platform-scripts/scripts/bandwagon.js, tag=Bandwagon 状态, enabled=true
5 9 * * * https://raw.githubusercontent.com/fishyo/someLoonThings/refs/heads/refactor/cross-platform-scripts/scripts/racknerd.js, tag=RackNerd 状态, enabled=true
